<style>
    p{
        width:100%;
        height:auto;
        background-color:black;
        color:white;
        text-align:center;
        font-size:12px;
        font-weight:600;
        padding:9px 15px;
    }
</style>

<div>
    <p>🚀 Free shipping on orders above ₹999 — Use code:SHOPZONE10</p>
</div>

{% schema %}
{
    "name": "Announcement_bar",
    "settings": [],
    "blocks": [],
    "presets": [{
        "name": "Announcement_bar"
    }]
}
{% endschema %}